* {
  box-sizing: border-box;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  --margin-bottom: 7%;
  --sections-width: 300px;
}

body {
  background-image: url('images/pattern-background-mobile.svg');
  background-color: var(--pale-blue);
  background-repeat: no-repeat;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width:480px) {
  body {
    background-image: url("images/pattern-background-desktop.svg");
  }
}

.card {
  text-align: center;
  border-radius: 1em;
  background-color: #fff;
  max-width: 450px;
  box-shadow: 0 1em 1em hsl(223, 47%, 23%, .2);
}

.card__img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  max-width: 100%;
  margin-bottom: var(--margin-bottom);
}

.card__title {
  font-weight: 900;
  margin-top: 0;
  margin-bottom: var(--margin-bottom);
}

.card__description {
  width: var(--sections-width);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--margin-bottom);
  font-weight: 500;
  line-height: 1.5em;
  color: var(--desaturated-blue);
}

.card__price {
  border-radius: 1em;
  height: 4.5em;
  width: var(--sections-width);
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--margin-bottom);
  background-color: var(--very-pale-blue);
  display: flex;
  align-items: center;
}

.card__price__text {
  width: 110px;
}

.card__price span:first-child {
  font-weight: 900;
}

.card__price span:last-child {
  color: var(--desaturated-blue);
}

.card__price__change {
  margin-left: auto;
  color: var(--bright-blue);
  font-weight: 900;
  transition: .2s color;
}

.card__price__change:hover {
  color: hsl(245, 75%, 72%);
  text-decoration: none;
}

.card__pay-button,
.card__cancel-button {
  text-decoration: none;
  margin-bottom: var(--margin-bottom);
  margin-left: auto;
  margin-right: auto;
}

.card__pay-button {
  display: block;
  width: var(--sections-width);
  font-weight: 700;
  color: #fff;
  background-color: var(--bright-blue);
  padding: 1em;
  border-radius: .8em;
  box-shadow: 0 1em 1em hsl(223, 47%, 23%, .2);
  transition: .2s background-color;
}

.card__pay-button:hover {
  background-color: hsl(245, 75%, 72%);
}

.card__cancel-button {
  display: inline-block;
  font-weight: 900;
  color: var(--desaturated-blue);
  transition: .2s color;
}

.card__cancel-button:hover {
  color: var(--dark-blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
